
body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display:flex;
  justify-content:center;
  padding:40px;
}
.container {
  width:500px;
}
.upload-box {
  margin-bottom:15px;
}
button {
  width:100%;
  padding:12px;
  background:#22c55e;
  border:none;
  color:black;
  font-weight:bold;
  cursor:pointer;
}
